# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# LocalStack data
localstack/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive files
.env

# Ignore editor/project files
.idea/
.vscode/

# Docs
PROJECT_PLAN.md
BLOG.md